/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ./bootstrap
 *= require_self
 *= require_tree .
 */

.excessive-padding {
  margin-bottom: 1000px;
}

.extra-wide {
  .modal-content {
    background-color: rgba(0,0,0,0.7);
    color: white;
  }

  .modal-header {
    color: white;
    border: none;
    padding-bottom: 0;

    .close {
      background-color: rgba(0,0,0,0);
      opacity: 0.7;
      color: white;
      &:hover {
        opacity: 1;
      }
      &:active {
        background-color: rgba(0,0,0,0);
      }
    }
  }

  .modal-body {
    padding: 0px;

    .col-lg-12 {
      padding-left: 20px;
      padding-right: 0;
    }
  }

  .modal-footer {
    padding: 0px 10px 5px;
    margin: 0;
    border: none;

    .pager {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .extra-wide {
    .modal-body {
      padding: 10px;

      .col-lg-12 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
